.contact-header {
    width: 100%;
}
#contact_text {
    font-size: 60px;
}
@media screen and (max-width: 1000px) {
    #contact_text {
        font-size: 40px;
    }
}
.reachUs {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    margin: auto;
    padding: 60px;
}
.form_cont {
    text-align: left;
    width: 100%;
    flex: 1;
}
.message{
    flex: 1;
    text-align: left;
    width: 100%;
}
label {
    display: block;
    text-align: left;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row_fields {
    display: inline-block;   /*place fields side by side*/
    width: 49.5%;
}
#f1, #f2, #f3 {
    height: 50px;
}
textarea,#f1,#f2, #f3 {
    width: 100%;
    background-color: rgb(245, 242, 242);
    box-sizing: border-box;
    border: none;
}
.reachUs h1{
    color: rgb(126, 0, 130);
    font-size: 30px;
}
@media screen and (max-width: 1000px){
    .reachUs{
        flex-direction: column;
        margin-left: 70px;
        margin-right: 70px;
    }
    .message{
        margin-bottom: 50px;
    }
}
#submit {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-radius: 0px;
}
.maps{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}
.gmap_canvas{
    width: 100%;
    height: 300px;
    
}

/*****************************GALLERY CSS**********************************/
.ph_gallery h1{
    color: purple;
    text-transform: uppercase;
    font-size: 25px;
}

h3.gallery {margin-top:50px;
    display:flex;
    color:steelblue;
    background:linear-gradient(to left,gray,steelblue,white,plum,turquoise);
    font-style: italic;
    color:rgb(46, 27, 20);
    margin-left: 15em;
    margin-right: 15em;
  }
  h3.gallery:before, h3.gallery:after {
    content:'';
    flex:1;
    margin: auto 0.9em;
    border: solid 1px rgb(124, 86, 64);
  }
.photos{
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
  }
#ph_head{
    background-color: rgb(221, 179, 221);
    padding: 20px;
    flex: 1;
    margin: 2px;
  }
.photos_div{
    display: flex;
    flex-direction: row;
    width: 100%;

}
#ph_photo{
    display: flex;
    flex: 1;
    padding: 10px;
    border: 1px solid;
}
#photo{
    float: left;
    margin: 20px;
    flex:1;

}
#ph_text{
    text-align: initial;
    font-size: 11pt;
    flex:1;

}